################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Game-Center/FileContentIndex/8cbfeb07-324c-4ed6-b8fb-80b2cc7161f9.vsidx
